@import 'main';

.header {
  height: $header-height;

  img {
    opacity: 0.75;
  }

  i {
    font-size: $font-size-large;
    margin-left: 1rem;
  }

  .network-status {
    font-size: $font-size-small;
    opacity: $font-opacity;
  }
}
