@import '~bootstrap/scss/bootstrap';
@import 'main';

html,
body {
  height: 100%;
  min-height: 300px;
  overflow-y: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  @include linear-gradient(
    -35deg,
    color('bg-gradient-purple') 0%,
    color('bg-gradient-blue') 50%,
    color('bg-gradient-teal') 100%);
  color: theme-color('white');
}

.app-container {
  height: calc(100vh - #{$footer-height});
  overflow-y: overlay;
  display: flex;
  flex-wrap: wrap;

  .content-container {
    height: calc(100vh - #{$footer-height} - #{$header-height});
    width: calc(100vw - #{$sidebar-width});
  }
}
