@import 'main';

.sidebar {
  height: 100vh;
  min-height: 50vh;

  .sidebar-logo {
    width: 100%;
    padding: 30px 0;
    text-align: center;
    opacity: 0.75;
  }

  .sidebar-item {
    border: 1px solid transparent;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 35px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .sidebar-item:hover {
    border: 1px solid #fff;
  }

  .sidebar-item-active {
    background: linear-gradient(to right, #1b1464, #9e005d);
  }

  .sidebar-link {
    width: 100%;
    min-width: 150px;
    text-decoration: none;
  }

  .sidebar-link:hover {
    text-decoration: none;
  }

  .sidebar-item-icon {
    padding-right: 12px;
  }
}
