<!DOCTYPE html>
<html>
  <head>
    <base href="/" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      <%= require('!!css-loader!./loading.css') %>
    </style>
  </head>
  <body>
    <div id='app'>
      <div class="loading">
        <img src="<%= require('!!base64-inline-loader!./assets/logo.png') %>" />
      </div>
    </div>
  </body>
</html>